@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('fonts/Concrete/cmunorm.eot');
	src: url('fonts/Concrete/cmunorm.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Concrete/cmunorm.woff') format('woff'),
		 url('fonts/Concrete/cmunorm.ttf') format('truetype'),
		 url('fonts/Concrete/cmunorm.svg#cmunorm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/Serif/cmunrm.eot');
	src: url('fonts/Serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Serif/cmunrm.woff') format('woff'),
		 url('fonts/Serif/cmunrm.ttf') format('truetype'),
		 url('fonts/Serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('fonts/Typewriter/cmuntt.eot');
	src: url('fonts/Typewriter/cmuntt.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Typewriter/cmuntt.woff') format('woff'),
		 url('fonts/Typewriter/cmuntt.ttf') format('truetype'),
		 url('fonts/Typewriter/cmuntt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('fonts/TypewriterLight/cmunbtl.eot');
	src: url('fonts/TypewriterLight/cmunbtl.eot?#iefix') format('embedded-opentype'),
		 url('fonts/TypewriterLight/cmunbtl.woff') format('woff'),
		 url('fonts/TypewriterLight/cmunbtl.ttf') format('truetype'),
		 url('fonts/TypewriterLight/cmunbtl.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}
