@font-face {
    font-family: 'Computer Modern Serif';
    src: url('../fonts/Serif/cmunrm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/Typewriter/cmuntt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
