@import 'colors';

$serif : 'Computer Modern Serif';
$tw : 'Computer Modern Typewriter';

body {
    background-color: $base03;
}

p {
    color: $base2;
    font-family: $serif;
    font-size: 19px;
}

h1 {
    color: $orange;
    font-family: $tw;
}

h2 {
    color: $green;
    font-family: $tw;
}

h3 {
    color: $violet;
    font-family: $tw;
}

code {
    color: $magenta;
}

.button {
    font-family: $tw;
    font-size: 24px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 120px;
    border-radius:5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#btnIndex {
    margin-left: 0;
    background-color: $cyan;
    color: $black;
}

#btnStudy {
    background-color: $magenta;
    color: $black;
}

#btnWork {
    background-color: $yellow;
    color: $black;
}

#btnAbout {
    background-color: $red;
    color: $black;
}

#btnContact {
    background-color: $green;
    color: $black;
}

#btnLight {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 5px;
    background-color: $btnBgLight;
    color: $btnFgLight;
}

#btnDark {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 5px;
    background-color: $btnBgDark;
    color: $btnFgDark;
}

#crudeEarth {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 200px;
    width: 200px;
    z-index: -1;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.vertLine {
    position: absolute;
    right: 225px;
    width: 20px;
    top: 0;
    height: 100%;
    z-index: -1;
}

#lineDark {
    border-left: thick solid $base02;
}

#lineLight {
    border-left: thick solid $btnFgDark;
}
