@import 'colors';

$concrete : 'Computer Modern Concrete';
$serif : 'Computer Modern Serif';
$tw : 'Computer Modern Typewriter';
$twl : 'Computer Modern Typewriter Light';

body {
    background-color: $base03;
}

p {
    color: $base2;
    font-family: $serif;
    font-size: 19px;
}

h1 {
    color: $orange;
    font-family: $tw;
}

h2 {
    color: $green;
    font-family: $tw;
}

h3 {
    color: $violet;
    font-family: $tw;
}

code {
    color: $magenta;
}

.button {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 80px;
    text-align: center;
}

#btnAbout {
    background-color: $orange;
    color: $blue;
}

#btnLight {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 8px;
    background-color: $btnBgLight;
    color: $btnFgLight;
}

#btnDark {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 8px;
    background-color: $btnBgDark;
    color: $btnFgDark;
}
